.auth-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.auth-box {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.auth-box input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background: #1a8917;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}

.auth-box button:hover {
  background: #0f730c;
}

.auth-box p {
  margin-top: 15px;
  cursor: pointer;
  color: #1a8917;
}